body{
    background-image: url("https://shvabe.com/upload/iblock/6f4/Швабе_%20IT(3).jpg");
    width: 100%;
    font-family: 'Lucida sans unicode';
}
    .all{
        background: rgba(216, 214, 224, 0.7);
        border-radius: 15px;
        width: 75%;
        margin: auto;
    }
    

.ava{
    width: 200px;
    border-radius: 15px;
    box-shadow: -4px 6px 3px rgba(1,14,15,0.25);
}
.im p{
    color:rgb(26, 18, 12);
    font-style: italic
}
.skills{
    height: 250px;
}

a{
    color: rgb(73, 26, 16);
    text-decoration: none;
}
h3{
    text-align: center;
}
hr{
    width: 100%;
    text-align: left;
}
.button {
    margin-bottom: 15px;
    margin-left: 300px;
    cursor: pointer;
    padding: 5px 6px;
    border-radius: 8px;
    color: rgb(218, 51, 10);
    border-color: chocolate;
    align-items: center;
}
.reset {
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    padding: 5px 6px;
    border-radius: 8px;
    color: rgb(218, 51, 10);
    border-color: chocolate;
}
.inp1{
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    border: none;
    border-bottom: 1px solid wheat;
    padding: 10px 0px 8px;
    border-radius: 8px;
    background: transparent;
    outline: none;
}
.inp2{
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    border: none;
    border-bottom: 1px solid wheat;
    padding: 10px 0px 8px;
    border-radius: 8px;
    background: transparent;
    outline: none;
    
}
hr{
    width: 99.8%;
}
.call{
    margin: 15px 15px 15px 15px;
}
.call label{
    margin-left: 50px;
    display: block;
}
.type{
    margin-left: 50px;
}
textarea{
    margin-left: 50px ;
    border: none;
    background: transparent;
    outline: none
}